body {
    background: #2a3166;
    /* margin: auto 20px; */
    font-size: 20px;
}

.container{
    max-width: 450px;
}

.todos li{
    background: #414b94;
    color: #ffffff;
}

.todos li:hover{
    background: #3c4586;
}

input[type=text]{
    background: #414b94;
    border: none;
}

.delete:hover{
    color: red;
    cursor: pointer;
    transition: all 0.4s ease;
}

.edit:hover{
    color: rgb(14, 168, 14);
    cursor: pointer;
    transition: all 0.4s ease;
}